//
// Global styles. Provides overall branding for the skeleton.
// - The content is contained in the other folder
//

* {
  @include box-sizing(border-box);
}

body {
  padding: 1em;
  background: #e7e7e7;
  color: #444;
}

a {
  color: $blue-dk;
  text-decoration: none;
  font-weight: 700;
}

main {
  width: 100%;
  font-family: $rambla;
  font-size: 1em * $slide-font-size;

  * {
    @include transition(all .25s ease-in-out);
  }

  article {
    width: 100%;
    height: $slide-height;
    padding: 1em;
    margin: 16% 0;
    box-shadow: 0 5px 10px rgba(#333, 0.1);
    background: #fff;
    position: relative;
    overflow: hidden;

    @include perspective(600px);
  }
  article:nth-of-type(1) {
    margin-top: 0;
  }
  article:last-child {
    margin-bottom: 0.5em;
  }
}

.no-touch nav {
  display: none;
}

.touch nav {
  // both buttons
  a {
    display: block;
    position: fixed;
    z-index: 100;
    top: 60%;
    padding: 0.4em 1em;
    background: rgba(#000, 0.1);
  }
  .back {
    left: 0;
  }
  .next {
    right: 0;
  }
}

// Compatibility charts for each page
.compat {
  width: 14em;
  max-height: 2em;
  overflow: hidden;
  padding: .4em;
  font-size: .4em;
  border: #ddd;
  @include background(linear-gradient(#fff, #eee));
  @include box-shadow(0 .1em .35em rgba(#000,0.45));
  position: absolute;
  top: 0;
  right: 0;
  @include transform(translateX(-1em) translateY(1em));

  // "This demo requires"
  .reqs {
    display: block;
    margin-bottom: .4em;
  }

  // Color each property according to browser support of current user.
  // All classes used in this section mirror Modernizr classes.
  .csstransforms3d & .csstransforms3d,
  .csstransforms & .csstransforms,
  .csstransitions & .csstransitions,
  .cssanimations & .cssanimations,
  .cssfilters & .cssfilters,
  .cssmask & .cssmask {
    background: #9d9;
    border: 1px solid darken(desaturate(#9d9, 30%), 15%);
    padding: 2px;
    margin: 2px;
  }

  .no-csstransforms3d & .csstransforms3d,
  .no-csstransforms & .csstransforms,
  .no-csstransitions & .csstransitions,
  .no-cssanimations & .cssanimations,
  .no-cssfilters & .cssfilters,
  .no-cssmask & .cssmask {
    background: #d99;
    border: 1px solid darken(desaturate(#d99, 30%), 15%);
    padding: 2px;
    margin: 2px;
  }

  // Show when user is interested
  &:hover,
  &:focus,
  &.focus {
    max-height: 10em; // no auto, set to high number
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .4em .6em;
  background: #fff;
  opacity: .4;
  cursor: default;
  @include transition(all .25s ease-in-out);
  
  &:hover {
    opacity: 1;
  }
}

//
// Global content styles
//

p.intro {
  margin-top: 2em;
}

dl {
  margin: 0 2em;

  dt {
    margin-top: 1em;
  }
}

.dim {
  opacity: .32;
}