//
// Animation
//

#s-animation {
  position: relative;

  .intro {
    position: relative;
    z-index: 100;
  }

  .organism {
    line-height: 1em;
    width: 110%;
    height: 110%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .cell {
    position: relative;
    width: 2em;
    height: 2em;
    opacity: 0;
    @include border-radius(1em);
    @include background(radial-gradient(1em 1em, #3eb0ff 0, #004 1.2em));

    .nucleus {
      position: absolute;
      width: 1em;
      height: 1em;
      top: .2em;
      left: .2em;
      @include border-radius(1em);
      @include background(radial-gradient(.4em .4em, rgba(#a9f, .8) 0, rgba(#6ee0ff, .1) .6em));
    }
  }

  // Don't animate until we get to the slide
  &.wiggle {
    // add a glow to the text for readability
    .intro {
      text-shadow: 0 0 8px rgba(#fff, 0.6);
    }

    .cell {
      @include animation('cell' 4.5s ease-in-out alternate infinite);
    }
    .nucleus {
      @include animation('nucleus' 6s ease-in-out alternate infinite);
    }

    .cell:nth-child(9n + 1) {@include animation-delay(0s); }
    .cell:nth-child(9n + 2) {@include animation-delay(1s); }
    .cell:nth-child(9n + 3) {@include animation-delay(2s); }
    .cell:nth-child(9n + 4) {@include animation-delay(3s); }
    .cell:nth-child(9n + 5) {@include animation-delay(4s); }
    .cell:nth-child(9n + 6) {@include animation-delay(5s); }
    .cell:nth-child(9n + 7) {@include animation-delay(6s); }
    .cell:nth-child(9n + 8) {@include animation-delay(7s); }
    .cell:nth-child(9n + 9) {@include animation-delay(8s); }

    .cell:nth-child(9n + 1) .nucleus {@include animation-delay(0s / 3); }
    .cell:nth-child(9n + 2) .nucleus {@include animation-delay(1s / 3); }
    .cell:nth-child(9n + 3) .nucleus {@include animation-delay(2s / 3); }
    .cell:nth-child(9n + 4) .nucleus {@include animation-delay(3s / 3); }
    .cell:nth-child(9n + 5) .nucleus {@include animation-delay(4s / 3); }
    .cell:nth-child(9n + 6) .nucleus {@include animation-delay(5s / 3); }
    .cell:nth-child(9n + 7) .nucleus {@include animation-delay(6s / 3); }
    .cell:nth-child(9n + 8) .nucleus {@include animation-delay(7s / 3); }
    .cell:nth-child(9n + 9) .nucleus {@include animation-delay(8s / 3); }
  }

  // turn cells into eyeballs. why not?
  &.eyeball {
    .cell {
      // retina
      @include background(radial-gradient(.4em .4em, #3eb0ff 0, #eee .4em));
      @include animation('cell' .8s ease-in-out alternate infinite);
      @include box-shadow(
        .1em .1em 0 rgba(#f00, .5),
        -.04em -.04em 0 rgba(#000, .3)
      );
    }
    .nucleus {
      // pupil
      @include background(radial-gradient(.2em .2em, #000 0, rgba(#3eb0ff, .1) .3em));
    }
  }

}
// Since the animation uses the "alternate" method of tweening, we only
// need the 100% keyframe. Defaults from selector are used at 0%
@include keyframes('cell') {
  100% {
    @include transform(scale(2));
    opacity: 0.32;
  }
}

@include keyframes('nucleus') {
  50% {
    @include transform(translateX(-.6em));
  }
  100% {
    @include transform(translateX(-.8em));
  }
}
