//
// Perspective alignment tricks
//

#s-alignment {
  p.intro {
    height: 1.2em;
    overflow: visible;
  }

  .segments {
    opacity: 0;
    width: 500px;
    height: 520px;
    margin-left: -250px;
    position: absolute;
    left: 50%;
    // we need to scoot this back away from the viewer
    @include transform(translateZ(-10em));
    // finally, create a new transform layer for this container
    @include transform-style(preserve-3d);

    // once the container is visible, make the transition time longer
    &.show {
      @include transition(transform ease-in-out 8s);
    }

    .segment {
      @extend .it;
      // make them all the same size
      width: 100px;
      height: 520px;
      // float them against each other, no gaps
      float: left;
      margin: 0;
      padding: 0;
      // Image found at: http://www.w3.org/html/logo/img/html5-topper.png
      background-image: image-url('html5-topper-cropped.png');
      // for the shadows
      position: relative;
      @include transform-style(preserve-3d);
      @include perspective(20em);

      // add fake shadow to each segment.
      &:before {
        content: '';
        display: block;
        width: 100px;
        height: 500px;
        background: rgba(#ccc, .5);
        @include box-shadow(0 0 1em #ccc);
        opacity: 1;
        position: absolute;
        bottom: 0;
        @include transform-origin(50%, 100%);
        @include transform(rotateX(100deg) skewX(35deg));
      }

      // Add a side to each segment to it looks more 3D
      $segment-depth: 20px;

      &:after {
        content: '';
        display: block;
        width: $segment-depth;
        height: 520px;
        background: #ccc;
        position: relative;
        left: 100px;
        @include transform-origin(0%, 50%);
        @include transform(rotateY(98deg));
      }

      // set up each individual segment
      &:nth-child(1) {
        background-position: 0% 0%;
        @include transform(translateX(2.17em) translateY(-.525em) translateZ(10em) rotateY(1deg) scale(.655));
      }
      &:nth-child(2) {
        background-position: -100px 0%;
        @include transform(translateX(.527em) translateY(-.27em) translateZ(5em) rotateX(.5deg) scale(.828));
      }
      &:nth-child(3) {
        background-position: -200px 0%;
        @include transform(translateY(0em) scale(1.005));
      }
      &:nth-child(4) {
        background-position: -300px 0%;
        @include transform(translateX(.57em) translateY(.252em) translateZ(-5em) rotateY(1deg) scale(1.178));
      }
      &:nth-child(5) {
        background-position: -400px 0%;
        @include transform(translateX(2.18em) translateY(.53em) translateZ(-10em) rotateY(-1deg) scale(1.351));
      }
    }
  }

  // These reveals the illusion
  .segments.rotate {
    // keep translateZ because it is in the default styles above
    @include transform(translateZ(-10em) rotateX(-15deg) rotateY(-70deg));
  }
  .segments.lift {
    // keep translateZ because it is in the default styles above
    @include transform(translateZ(-10em) rotateX(-65deg) rotateY(-70deg));
  }

  // This proves I'm not pullin' your leg ;)
  .segments.reveal {
    border: 5px solid #0c0;
    width: 510px;
    // offset to avoid reflow (since we're using box-sizing: border-box;)
    margin-left: -255px;
    margin-top: -5px;
  }
}
