//
// Perspective
//

$tilt: 75deg;

#s-perspective {
  // License: http://creativecommons.org/licenses/by-sa/3.0/deed.en
  // Source:  http://en.wikipedia.org/wiki/File:Vermont_night_sky_stargazing.JPG
  //
  // Add this image to the slide initially but let .space display it
  background: #fff image-url('space-bg.jpg') no-repeat left -960px;
  @include perspective(48em);

  p {
    opacity: 0;
  }
  p.intro {
    opacity: 1;
  }

  .board {
    width: 18em;
    height: 40em;
    margin-left: -9em;
    text-align: center;
    opacity: .25;
    position: absolute;
    left: 50%;
    @include transform-origin(50%, 0%);
    @include transform(rotateX(0deg));
    @include transition(all 4s ease-in-out);

    .perspective {
      @include transform-origin(50%, 50%);
      @include transform(scale(3, 50) translateY(.1em));
      margin-top: 4em;
      margin-bottom: 24em;
    }
  }

  // Tilt and prepare for scrolling
  &.tilt {
    p:not(.intro) {
      text-align: justify;
    }

    .board {
      opacity: 1;
      @include transform(translateZ(-14em) rotateX($tilt));
    }
  }

  &.space {
    @include transition(all 2s ease-in-out);
    background: #000 image-url('space-bg.jpg') no-repeat left top;

    p.intro {
      color: #69f;
      text-shadow: 0 0 .3em #000;
    }
    p:not(.intro) {
      opacity: 1;
    }

    .board {
      color: #ff0;

      // scroll text
      &.move {
        @include transition(all 10s ease-in-out);
        @include transform(translateZ(-10em) rotateX($tilt) translateY(-240em));
      }
    }
  }

  // Style solar system but hide it by default.
  // This means it doesn't have to be freshly drawn when it is revealed.
  .solar-system {
    position: absolute;
    opacity: 0; // hide by default
    @include transition(opacity 1s ease-in-out);
    @include animation('move-sun' 120s linear infinite);
    @include transform(translateX(12em) translateY(6em)); // this acts as a fallback for .no-cssanimation

    .sun {
      position: absolute;
      width: 2em;
      height: 2em;
      left: -1em;
      top: -1em;
      z-index: -5;
      @include border-radius(1em);
      background: #fd0;
      @include background-image(radial-gradient(1em 1em, #ff0 0, #ff7200 1.3em));
      @include box-shadow(0 0 .6em .3em rgba(#f90, .5), inset 0 0 .5em #fa0);
      @include transform(rotateZ(0deg));
      @include animation('rotate-sun' 12s linear infinite);
      @include transform(rotateZ(0deg)); // this acts as a fallback for .no-cssanimation

      .earth {
        position: absolute;

        width: .8em;
        height: .8em;
        left: .6em;
        top: .6em;
        z-index: -3;
        @include border-radius(.5em);
        @include background-image(
          // clouds
          radial-gradient(.15em .1em, rgba(#fff, .3) .08em, rgba(#00a, 0) .2em),
          radial-gradient(.3em .8em, rgba(#fff, .2) .08em, rgba(#00a, 0) .3em),
          radial-gradient(.2em .6em, rgba(#fff, .3) .1em, rgba(#00a, 0) .3em),
          radial-gradient(.7em .5em, rgba(#fff, .5) .1em, rgba(#00a, 0) .35em),
          // land
          radial-gradient(.3em .2em, #161 .10em, rgba(#043, 0) .16em),
          radial-gradient(.6em .3em, #161 .15em, rgba(#043, 0) .3em),
          // ocean
          radial-gradient(.5em .5em, #3eb0ff 0, #00f .6em)
        );
        @include animation('rotate-earth' 3s linear infinite);
        @include transform(translateX(4em) rotateZ(0deg)); // this acts as a fallback for .no-cssanimation

        .moon {
          position: absolute;

          width: .3em;
          height: .3em;
          left: .25em;
          top: .25em;
          z-index: -1;
          @include border-radius(.3em);
          @include background-image(radial-gradient(.26em .3em, #ccc 0, #777 10px));
          @include animation('rotate-moon' 4s linear infinite);
          @include transform(translateX(1em) rotateZ(0deg)); // this acts as a fallback for .no-cssanimation
        }
      }
    }
  }

  &.solar {
    .solar-desc {
      color: #fff;
    }
    .solar-system {
      opacity: 1;
    }
  }
}

@include keyframes('move-sun') {
  0% {
    @include transform(translateX(32em) translateY(7em));
  }
  100% {
    @include transform(translateX(-3em) translateY(5.5em));
  }
}

@include keyframes('rotate-sun') {
  0% {
    @include transform(rotateZ(0deg));
  }
  100% {
    @include transform(rotateZ(360deg));
  }
}

@include keyframes('rotate-earth') {
  0% {
    @include transform(translateX(4em) rotateZ(0deg));
  }
  100% {
    @include transform(translateX(4em) rotateZ(360deg));
  }
}

@include keyframes('rotate-moon') {
  0% {
    @include transform(translateX(1em) rotateZ(0deg));
  }
  100% {
    @include transform(translateX(1em) rotateZ(360deg));
  }
}
