/*
 * Title slide
 */
#s1 {

  // title
  h1 {
    font-size: 6em / $slide-font-size;
    line-height: .9em;
    position: absolute;
    top: 1em;
    left: 2em;
  }

  // subtitle
  h2 {
    font-size: 3em / $slide-font-size;
    position: absolute;
    bottom: 32%;
    right: 19%;
  }

  // This warning is for browsers that don't support everything
  .warning {
    opacity: 0; // hidden by default
    width: 100%;
    height: 100%;
    color: #a00;
    text-align: center;
    background: image-url('bad-time.jpg') no-repeat 10% 70%;
  }

  // Show warning for browsers that fail any primary Modernizr test
  .no-cssmask & .warning.active,
  .no-cssfilters & .warning.active,
  .no-cssanimations & .warning.active,
  .no-csstransitions & .warning.active,
  .no-csstransforms & .warning.active,
  .no-csstransforms3d & .warning.active {
    opacity: 1;
  }

  // Instructions for navigating presentation
  .instructions {
    @extend .it;
    opacity: 1;
    @include transform(translateY(-4em));
    @include animation('throbber' 2s linear 4);

    // These two rules word the instructions for touch/no-touch users. hax
    .no-touch & {
      display: block;
    }
    .touch & {
      display: none;
    }

    // 'active' in this case means hidden to keep the JS simple
    &.active {
      opacity: 0;
      @include animation(none);
      @include transition(opacity 1s linear);
    }

    // If Modernizr executed, hide the word "or" from everyone.
    .js & .silent {
      display: none;
    }
  }
}

@include keyframes('throbber') {
  50% {
    opacity: .5;
  }
}
