//
// Styles for each slide
//

@import 's-title';

@import 's-intro';
@import 's-css';
@import 's-funstuff';
@import 's-paper';
@import 's-slinky';
@import 's-perspective';
@import 's-animation';
@import 's-ames';
@import 's-moire';

@import 's-end';
